asgiref==3.6.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==39.0.1
Django==4.1.7
django-cors-headers==3.13.0
django-rest-framework==0.1.0
django-rest-knox==4.2.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
idna==3.4
mysqlclient==2.1.1
pycparser==2.21
PyJWT==2.6.0
python-decouple==3.7
pytz==2022.7.1
requests==2.28.2
sqlparse==0.4.3
stripe==5.2.0
tzdata==2022.7
urllib3==1.26.14
